<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-l">
          <h1>Grow your <strong>dropshipping business</strong> with<br> <strong>smart campaign</strong>.</h1>
          <p>Get instant results with professionals <br>advertising campaigns.</p>
          <a class="btn btn-flat" href="#">Start now</a>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag(asset_path('4204968.png'), style:"width: 100%") %>
      </div>
    </div>
  </div>
</div>
